.btn{
	color: $text-color2;
	border: 2px solid $text-color2;
	min-width:40%;
	max-width:50%;
	padding: 5px;
	margin:0 auto;
}

.img-btn{
	@extend .btn;
	position: absolute;
	padding: 5px;
	text-align: center;
	
	bottom:35%;
	
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 700;

	transition: opacity 0.3s ease;
	opacity:0;
	a{
		z-index:1;
	}
}

.btn-scroll{
	display:block;
	width:80px;
	margin:0 auto;

	text-transform: uppercase;
}

.btn-scroll span {
	position: relative;
    
    display: block;
	height: 16px;
	width: 16px;

    left: 50%;    
    bottom: 20px;
    
    margin-left: -8px;
    margin-top: 20px;

	border-bottom: 1px solid $first-color;
	border-right: 1px solid $first-color;

    transform: rotate(45deg);

    animation: scroll 4s infinite ease;
}

.btn-scroll:hover span{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}