.btn{
	// position: absolute;
	color: $text-color2;
	border: 2px solid $text-color2;
	min-width:40%;
	max-width:50%;
	padding: 5px;
	margin:0 auto;
}

.img-btn{
	@extend .btn;
	// color: $text-color2;
	position: absolute;
	// border: 2px solid $text-color2;
	// background: none;
	// min-width:40%;
	padding: 5px;
	text-align: center;
	
	bottom:35%;
	
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 700;

	transition: opacity 0.3s ease;
	opacity:0;
	a{
		z-index:1;
	}

}

