#moments-page-wrap{
	transition: transform 0.5s ease;
}

.modal{
	display: none;
	position: fixed;
	z-index: 10;
	padding-top: 4vh;
	padding-bottom: 4vh;
	
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);

	&__content{
		position: relative;
		margin: auto;
		margin: 0 auto;
		width: 90%;
		max-width: 1000px;
		height: 90%;
		max-height: 1000px;
		overflow: auto;
	}
	
	&__slides{
		display:block;

		img{
			width:100%;
			min-height: 490px;
			max-height: 70vh;
			object-fit:cover;
		}
	}

	
	&__close{
	cursor: pointer;
	color: $orange;
	position: absolute;
	top: 50px;
	right: 45px;
	font-size: 55px;
	font-weight: bold;
	opacity: 0.8;

		&:hover, &:focus{
		text-decoration:none;
		opacity: 1;	
		}
	}	
}

.column{
	display: flex;
	float: left;
	min-width: 75px;
	margin: 2px;

	&__img{
		height: 100px;

		min-width: 150px;
		object-fit:cover;
		opacity: 0.5;
		transition: all 0.3s ease;
		&:hover{
			opacity:1;
			cursor: pointer;
		}

	}
}

.prev,.next{
	cursor:pointer;
	position: absolute;
	display:block;

	top:40%;
	background-color: rgba(0, 0, 0, 0.2);

 	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	z-index: 3;
	
	transition: 0.3s ease;
	opacity: 0.3;

	&:hover{
		opacity: 1;
	}
}

.next{
	right:0;
}

.prev{
	left:0;
}