#moments-page-wrap{
	transition: transform 0.5s ease;
}

.modal{
	display: none;
	position: fixed;
	z-index: 10;
	padding-top: 6vh;
	padding-bottom: 6vh;
	
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content{
	position: relative;
	margin: auto;
	// padding: 20px;
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
	height: 90%;
	max-height: 1000px;
	overflow: auto;
}

.myModSlides{
	display:block;

	img{
		width:100%;
		min-height: 490px;
		max-height: 70vh;
		object-fit:cover;
	}
}


.column{
	display: flex;
	float: left;
	min-width: 75px;
	margin: 2px;

	img{
	height: 100px;

	min-width: 150px;
	object-fit:cover;
	opacity: 0.5;
	transition: all 0.3s ease;
	}
}

.column img:hover{
	opacity:1;
	cursor: pointer;
}

.close{
	color: $first-color;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
	opacity: 0.8;
}

.close:hover,.close:focus{
	text-decoration:none;
	cursor:pointer;
	opacity: 1;
}

.prev,.next{
	cursor:pointer;
	position: absolute;
	display:block;

	top:40%;
	background-color: rgba(0, 0, 0, 0.2);

 	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	z-index: 3;
	
	transition: 0.3s ease;
	opacity: 0.3;
}

.prev:hover,.next:hover{
	opacity:1;
}

.next{
	right:0;
}

.prev{
	left:0;
}
