footer{
	position: relative;
	text-transform: uppercase;
	bottom:0;
	left:0;
	right:0;
	display:block;
	background-color: $bg-ft;
	height: 300px;
	color:#fff;

	#logo-ft{
		@extend #logo;
		position:absolute;
		background-color: $bg-ft;
		margin: 30px auto;
		max-height: 100px;
		h1{
			font-size:45px;
			line-height: 0.8em;
			padding:0;
			margin-left:3px;
		}
	}

	#logoContainer-ft{
		display:flex;
		justify-content: center;
		width:100%;
	}

	p{
		margin:0 auto;
		padding:0;
	}
	div{
		position:absolute;
		margin-bottom:0;
		padding:0;

		display:block;
		min-heigth:80px;
	}

	#addressContainer-ft{
		position: absolute;
		display:flex;
		width: 100%;
		bottom: 100px;
		letter-spacing: 1px;
		text-align: center;
		font-weight: 500;
		font-size: 11px;
		bottom: 60px;
		i{
				color: $first-color;
				margin: 5px 10px;
				opacity:0.85;
		}
		i:hover{
			opacity: 1;
		}
	}

	#lowerContainer-ft{
		position: absolute;
		bottom:0;
		left:0;
		right: 0;
		height: 50px;
		display:flex;
		line-height:50px;
		font-weight: 600;
		letter-spacing: 3px;
		font-size: 10px;
		background-color: $bg-lowerContainer-ft;
		color: $first-color;
		a{
			transition: text-shadow 0.3s ease;
		}

		a:hover{
			text-shadow: 0px 0px 0.1px white;
		}
	}
}