/* ======== Form ========*/
.contact .contact-form{
	display: inline-block;
	float: right;
	padding: 15px;
	background-color: #999999;
	margin-top: 20px;
	width: 35%;
	border: 2px solid #fff;

	input,textarea,button{
		outline-color: $first-color;
		width: 100%;
	}

}


.contact .contact-form textarea{
	height: 130px;
}

.contact .contact-form button{
	height: 40px;
	background-color: $first-color;
	border: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.contact .contact-form button:active{
    filter: invert(10%);
}