.header{
	position: absolute;

	display:flex;
	top:0;
	left:0;
	right:0;

	z-index: 10;
	padding-top: 80px;
	font-weight: $header-font-weight;
	font-size: $header-text-size;
	transition: 0.4s all ease;

	&__wrapper{
		@include container;
		padding:0 3%;
		justify-content: space-around;
	}

	&__item{
		display: inline-block;
		margin-left: 2.5%;
		height:20px;
		@include uppercase;
		color: $header-text-color;
		transition: 0.3s all;
		opacity: $header-text-opacity;

	}

	&__item:hover{
		opacity: 1;
		text-shadow: $header-text-shadow;
	}

	&__logo{

		position: relative;
		right: 0;

		font-family: $header-logo-font-family;

		margin:0;
		padding-left: 5px;
		padding-right: 25px;
		letter-spacing: 2px;
		border-left: $header-logo-border;
		font-size: $header-logo-text-size;
		line-height: $header-logo-line-height;
		color: $header-logo-text-color;
		text-shadow: $header-logo-text-shadow;
	}

	&--fixed{
		position:fixed;
		padding-top:5px;
		padding-bottom: 5px;
		border-bottom: $fheader-border;
		z-index:10;

		background-color: $fheader-bg;

		.header__item{
			color:$header-text-color;
			line-height: 40px;
		}

		.header__logo{
			font-size: 16px;
			line-height:20px;
		}
	}
}