// ======= small =======

@media screen and (max-width: map-get($breakpoints, small)){
	
		#header{
			.container-header{
				padding-left: 0px;
			}
		}

		.menu-container{
			.menu-img{
				width: 100%;
				margin: 10px 0;
			}

			.menu-description-l{
				width: 100%;
				margin: 0;
			}
			dt{
				max-width: 100px;
			}
			.menu-description-r{
				order:1;
			}
		}
}

// ======= medium =======

@media screen and (min-width: map-get($breakpoints, medium)){
		#header #menuToggle{
		display:none;
	}
}

@media screen and (max-width: map-get($breakpoints, medium)){

	#header{
		.container-header ul{
			display: none;
		}
		.fixed-header{
			padding-top: 10px !important;
		}
		#logo{
		margin: 0 auto;
		}

		#menuToggle{
			display: block;
		}
	}

	.img-link-container{
		height: 750px !important;

		.img-link{
			height: 33.3333%;
			width: 100%;
		}

		.img-link:hover h2{
			transform:none;
		}

		.img-link .overlay{
			background: rgba(0, 0, 0, 0.2);
	  	}

	  	.img-link .img-btn{
			opacity: 1;
	  	}
	  	.img-link h2{
			top:50px;
	  	}
  	}
}

// ======= xmedium =======

@media screen and (max-width: map-get($breakpoints, xmedium)){
	#header{
		.container-header{
			padding-left: 10px;
		}
		li{ 
			margin-left: 15px;
		}
		#logo h1{
			padding-right: 30px;
		}		
	}
}
