#menuBookmarks{
	position: fixed;
	/*float: right;*/
	width: 350px;
	height: 899px;
	margin: 10px 0 0 0;

	top: -50px;
	right: -600px;
	padding: 50px;
	padding-top: 130px;

	background-color: #fff;

	transform-origin: 0% 0%;

	transform : none;
	/*translate(-100%,0);*/

	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#menuBookmarks li{
	list-style: none;
	padding: 13px 0;
	font-size: 30px;
}