.fade{
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade{
	from{ opacity: 0.5 }
	to { opacity: 1 }
}

// index - slideshow
$slideShowTime: 40s;
$slides : 4;
$phase : $slideShowTime/($slides*2);

$firstDelay: $phase*2;
$secondDelay: $phase*4;
$thirdDelay: $phase*6; 

#slideShow ul{
	margin:0;
	padding:0;
}

#slideShow li{
	position: absolute;
	width: 100%;
	animation: autoSlideShow $slideShowTime ease infinite;
	opacity:0;
}

#slideShow li:nth-child(2){
	animation-delay: $firstDelay;
}
#slideShow li:nth-child(3){
	animation-delay: $secondDelay;
}
#slideShow li:nth-child(4){
	animation-delay: $thirdDelay;
}


@keyframes autoSlideShow { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  30% {
    opacity: 1;
  }
  40% {
  	opacity: 0;
  }
}

// index - slideshow

// scroll arrow

@keyframes scroll{
  0%{
    opacity:0;
    transform: rotate(45deg) translate(0, 0);
  }
  50%{
    opacity:1;
  }
  100%{
    opacity:0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

// scroll arrow

// preload page
@keyframes loading{
  0% {
    transform: translateX(300%);
  }
  50% {
    transform: translateX(-500%);
  }
  100%{
    transform: translateX(300%);
  }
}

.fadeOut {
  animation: fadeOut 2s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeOut{
  from {opacity: 1}
  to {opacity: 0}
}
// preload page