html{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Lato", sans-serif;
	// font-family: Palatino,Palatino Linotype,Georgia,serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.8em;
	color: $text-color;
}

body{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	cursor: pointer;
}

ul,li{
	list-style-type: none;
}

h1,h2,h3{
	cursor: default;
	text-transform:uppercase;
	letter-spacing: 8px;
	font-weight:700;
	font-size: 35px;
}
article{
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

.divider{
	display:block;
	margin: 0 auto;
	width: 200px;
	height:2px;
	background-color: $first-color;
}