html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100vw;
	font-family: "Lato", sans-serif;
	// font-family: Palatino,Palatino Linotype,Georgia,serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.8em;
	color: $text-color;
}

body{
	margin: 0;
	padding: 0;
	min-height: 100%;
	max-width: 100vw;
	overflow-x:hidden;
}

a{
	text-decoration: none;
	cursor: pointer;
}

ul,li{
	list-style-type: none;
}

h1,h2,h3{
	cursor: default;
	text-transform:uppercase;
	letter-spacing: 8px;
	font-weight:700;
	font-size: 35px;
	line-height: 1.1em;
}
article{
	display: block;
	margin: 80px auto;
	text-align: center;
	width: 50%;
	min-width:500px;
	p{
		margin: 20px auto;
		width:80%;
	}
}

.divider{
	display:block;
	margin: 0 auto;
	width: 200px;
	height:2px;
	background-color: $first-color;
}

.container{
	display: flex;
	width: 100%;
}

.flex-center{
	display:flex;
	justify-content: center;
	align-items: center;
}

.absolute100{
	width:100%;
	height:100%;
	position:absolute;
}
