<!DOCTYPE html>
<html>
<head>
	<title>Witamy w LoremCafe | Moments</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="public/stylesheets/css/main.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>	
	<header id="header">	<!-- class="fixed-header" -->
		<nav> 
			<div id="menuToggle">
				<input type="checkbox">
					<span></span>
					<span></span>
					<span></span>
					<ul id="menuBookmarks">
						<li><a id ="glowna" href="#" active>HOME</a></li>
						<li><a href="menu.html">MENU</a></li>
						<li><a href="galeria.html">MOMENTS</a></li>
						<li><a href="abc.html">MAILING LIST</a></li>
						<li><a href="opinie.html">CATERING</a></li>
						<li><a href="kontakt.html">CONTACT</a></li>
					</ul>
			</div>
		</nav>


		<div class="container-header">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="menu.html">Menu</a></li>
				<li><a href="moments.html">Moments</a></li>
				<li><a href="mlist.html">Mailing list</a></li>
				<li><a href="catering.html">Catering</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			

		</div>
		<div id="logo">
			<h1>Lorem <br>Cafe</h1>
		</div>
	</header>

	<div class="landing-image">
		<img src="public/img/friends.jpg">
	</div>

	<article>
		<h1>share your <span class="span-color">#moments</span> with friends</h1>
		<div class="divider"></div>
	</article>

	<div class="container-center">
		<div class="moment">
			<h1>instagram</h1>
			<div class="divider-s"></div>
			<a href="https://www.instagram.com"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
			
		</div>
		<div class="moment">
			<h1>twitter</h1>
			<div class="divider-s"></div>
			<a href="https://www.twitter.com"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
		</div>
		<div class="moment">
			<h1>facebook</h1>
			<div class="divider-s"></div>
			<a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
		</div>
	</div>

	<div class="gallery">
		<div>
			<img src="public/img/moments-min.jpeg">
		</div>
		<div>
			<img src="public/img/kolba.jpg">
		</div>
		<div>
			<img src="public/img/happy-coffee.jpg">
		</div>
		<div>
			<img src="public/img/espresso.jpeg">
		</div>
		<div>
			<img src="public/img/people.jpeg">	
		</div>
		<div>
			<img src="public/img/slide3.jpeg">
		</div>

	</div>

	<footer>
		<div id="logoContainer-ft">
			<div id="logo-ft">
				<h1>Lorem <br>Cafe</h1>
			</div>
		</div>
		
		<div id="addressContainer-ft">
			<p>	warsaw cafe | ochota district <br>
				378 / 72 anyStreet - warsaw - poland <br>
				287 - 948 - 183
			</p>
		</div>
		<div id="momentsContainer-ft">
			<p>SHARE YOUR <a>#Lorem Cafe</a> MOMENTS</p>
		</div>
	</footer>

<script src="public/js/main.js"></script>
</body>
</html>