
	.img-link-container{
		@include container;
		height:250px;
		display:inline-flex;

		img{
			width:100%;
			object-fit:cover;
		}

	}

	.img-link{
		display:inline-flex;
		margin:0;
		height:100%;
		overflow:hidden;
		min-width:100px;
		width:33.3333%;
		
		justify-content: center;

		color: $text-color2;
		text-transform: uppercase;

		position:relative;

		.overlay{	
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: rgba(0, 0, 0, 0.3);
			opacity: 0.5;
			transition: opacity 0.5s ease;
		}

		h2{
			position:absolute;
			width:100%;
			top:75px;
			text-align:center;
			font-size: 25px;
			z-index: 1;

			transition: transform 0.5s ease;
		}
		
	}

.img-link:hover .overlay{
	display:block;
	opacity: 1;
  }
  .img-link:hover .img-btn{
	opacity: 1;
  }
  .img-link:hover h2{
	transform: translateY(-30px);
  }

#home-article{
	max-width: 600px;
}

.loader{

	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #222;
}

.loader__wrapper{
	position: absolute;
	left: 50%;
	top: 35%;
}

.loader__heading{
	transform: translateX(-50%);
	font-size: 30px;
	font-weight: 900;
	color: transparent;
	text-shadow: 0px 0px 2px $orange;
}

.loader__ball:nth-child(2){
	animation: loading 2s 800ms infinite ease-in-out;
}
.loader__ball:nth-child(3){
	animation: loading 2s 600ms infinite ease-in-out;
}
.loader__ball:nth-child(4){
	animation: loading 2s 400ms infinite ease-in-out;
}
.loader__ball:nth-child(5){
	animation: loading 2s 200ms infinite ease-in-out;
}

.loader__ball{
	display:inline-block;
	width:20px;
	height:20px;
	margin: 10px;

	position: relative;
	left: -80%;
	transform: translateX(300%);
	background-color: $orange;
	box-shadow: 0 0 10px $orange;
	border-radius: 50%;
	opacity: 0.4;
}