.contact, .menu {
	margin: 0;
	height: 100%;
	width: 100%;
	color: #ddd;
	background-color: $bg-color;
}

.contact .container{
	/*position: relative;*/
	z-index: 0;
	display: block;
	width: 80%;
	margin: 5px auto;
	height: 70%;
}

.contact .text,.menu .text{
	position: relative;
	margin: auto;
	text-align: center;
	letter-spacing: 1px;
	background-color: #999999;
	font-weight: 600;
	padding: 10px;
	border-bottom: 2px solid #fff;
}

.menu .text{
	letter-spacing: 2px;
}

.map-wrap{
	height: 390px;
	width: 50%;
	margin: 20px auto;
	float: left;
}

#map{
/*	height: 400px;
	width: 400px;
*/	display: inline-block;
	padding: 10px;
	background-color: #999999;
	/*margin-top: 20px;*/
	/*margin-left: 5px;*/
	width: 100%;
	height: 65%;
	border: 2px solid #fff;
}

#map-caption{
	position: relative;
    border: 2px solid #fff;
    padding: 10px;
    /*margin: 5px;*/
    width: 100%;
    height: 40%;
    background-color: #999999;
}

#map-caption h3{
	margin-bottom: 0px;
}