.span-color{
	color: $first-color;
}

.moment{
	display: block;
	flex: auto;
	text-align: center;
	justify-content: space-around;
	min-width: 290px;
	margin: 10px;

	h1{
		font-size: 16px;
		letter-spacing: 4px;
		display: block;
	}

	i{
		color: $text-color;
		// padding: 5px;
		margin: 10px;
		transition: all 0.3s ease;
		opacity:0.7;
	}
	i:hover{
		opacity:1;
	}
}

