.span-color{
	color: $orange;
}

.moment{
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	min-width: 290px;
	max-width: 350px;
	margin: 10px;

	&__header{
		font-size: 16px;
		letter-spacing: 4px;
		display: block;
	}

	i{
		color: $text-color;
		margin: 10px;
		transition: all 0.3s ease;
		opacity:0.7;

		&:hover{
		opacity:1;
		}
	}
}

.gallery{
	@include flex--center;
	margin: 20px auto;
	flex-flow: row wrap;
	width:80%;

	&__img{
		width: 200px;
		height: 200px;
		margin: 40px 20px;
		object-fit:cover;
		border-radius:40px;
		transition: all 0.5s ease;
		cursor:pointer;
		&:hover{
			@extend .zoomIn;
		}
	}	
}