<!DOCTYPE html>
<html>
<head>
	<title>Witamy w Lorem Cafe | Abc</title>
	<link rel="stylesheet" type="text/css" href="public/stylesheets/css/main.css">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
</head>

<body>

	<header>
			<nav class="content">
				<h3 class="logo">Lorem Cafe <img src=""> | Abc Kawy </h3>
			
				<div class="nav-right">
					<a class="nav-right">Kontakt</a>
					<a class="nav-right">Abc</a>
					<a class="nav-right">Menu</a>
					<a class="nav-right">O Nas</a>
				</div>
			</nav>
	</header>

	<section class="abc">
		<h1 class=underlined>Sposoby parzenia kawy</h1>

		<div class="side-abc">
		<!-- <div class="flex"> -->
			<div class="abc-img" id="moka"></div>
				<div class="moka-desc-container">
					<span class="moka-desc"></span>
				</div>
			<div class="abc-img" id="french"></div>
			<div class="abc-img" id="eksp"></div>

		</div>
		
		<article id="initial">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum excepturi doloremque cum quam, vero, veniam minima aspernatur possimus mollitia quis fuga dicta laudantium distinctio cupiditate aliquid veritatis sapiente! Debitis, reiciendis!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum autem accusamus ratione, nemo quam dolores facilis rerum soluta et consequuntur.</p>
		</article>

		<div class="side-text-abc">
			<div class="text-wrap">
					
					<article class="moka-text">
						<h1>1. Moka ipsum dolor.</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odio quibusdam necessitatibus id nihil eum dignissimos? Impedit eos at adipisci dolorum omnis harum, suscipit voluptatem. Vitae minima fugiat numquam quam?</p>
						
						<h1>2. Lorem ipsum dolor.</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odio quibusdam necessitatibus id nihil eum dignissimos? Impedit eos at adipisci dolorum omnis harum, suscipit voluptatem. Vitae minima fugiat numquam quam?</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, et!</p>
						<ul>
							<li>Lorem ipsum dolor.</li>
							<li>Lorem ipsum dolor.</li>
							<li>Lorem ipsum dolor.</li>
							<li>Lorem ipsum dolor.</li>
						</ul>
					</article>
					<!-- <p>przyprawy w postaci listy, dodac jakies animacje + rozwijanie po kliknięciu , moze scrolling effect ?</p> -->
					<article class="french-text">
					<h1>1. French ipsum dolor.</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odio quibusdam necessitatibus id nihil eum dignissimos? Impedit eos at adipisci dolorum omnis harum, suscipit voluptatem. Vitae minima fugiat numquam quam?</p>
					
					<h1>2. Lorem ipsum dolor.</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odio quibusdam necessitatibus id nihil eum dignissimos? Impedit eos at adipisci dolorum omnis harum, suscipit voluptatem. Vitae minima fugiat numquam quam?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, et!</p>
					<ul>
						<li>Lorem ipsum dolor.</li>
						<li>Lorem ipsum dolor.</li>
						<li>Lorem ipsum dolor.</li>
						<li>Lorem ipsum dolor.</li>
					</ul>
					<!-- <p>przyprawy w postaci listy, dodac jakies animacje + rozwijanie po kliknięciu , moze scrolling effect ?</p> -->
					</article>
					<article class="eksp-text">
						<h1>1. Ekspres ipsum dolor.</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odio quibusdam necessitatibus id nihil eum dignissimos? Impedit eos at adipisci dolorum omnis harum, suscipit voluptatem. Vitae minima fugiat numquam quam?</p>
						
						<h1>2. Lorem ipsum dolor.</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odio quibusdam necessitatibus id nihil eum dignissimos? Impedit eos at adipisci dolorum omnis harum, suscipit voluptatem. Vitae minima fugiat numquam quam?</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, et!</p>
						<ul>
							<li>Lorem ipsum dolor.</li>
							<li>Lorem ipsum dolor.</li>
							<li>Lorem ipsum dolor.</li>
							<li>Lorem ipsum dolor.</li>
						</ul>
						<!-- <p>przyprawy w postaci listy, dodac jakies animacje + rozwijanie po kliknięciu , moze scrolling effect ?</p> -->
					</article>
				</div>		

			<div class="bottom-wrapper">
				<h2> Chciałbyś spróbować czegoś innego ? Może chcesz pokazać swoje przepisy ? Zapraszamy na nasz blog, gdzie możecie dzielić się swoimi doświadczeniami !</h2>
				<button class="btn-2" href="#">Przejdź do bloga</button>
			</div>
			
		</div>
	</section>
	

	<footer>
		<p class="ft-text"><b> Mrooz &copy; 2017 </b></p> 
		<p class="ft-right">
			<a href="https://github.com/mroozspace"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/adrian-mr%C3%B3z-829bb113b/" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
		</p> 
	 </footer>

	<script type="text/javascript" src="public/js/main.js"></script>
</body>
</html>