<!DOCTYPE html>
<html>
<head>
	<title>Witamy w Lorem Cafe | Strona Główna</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="public/stylesheets/css/main.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
</head>
<body class="main">
	<!-- <header>
		<nav> 
			<p class="logo">Lorem Cafe  <i class="fa fa-coffee" aria-hidden="true"></i> | Strona Główna </p>

			<div id="menuToggle">
				<input type="checkbox">
					<span></span>
					<span></span>
					<span></span>
					<ul id="menuBookmarks">
						<li><a id ="glowna" href="#" active>Strona Główna</a></li>
						<li><a href="menu.html">Menu</a></li>
						<li><a href="galeria.html">Galeria</a></li>
						<li><a href="abc.html">ABC Kawy</a></li>
						<li><a href="opinie.html">Opinie</a></li>
						<li><a href="kontakt.html">Kontakt</a></li>
					</ul>
			</div>
		</nav>		
	</header> -->

	<header>
			<nav>
				<!-- <h3 class="logo">Lorem Cafe </h3> -->
				<div class="logo-img">
					<img src="public/img/loremlogo.png">	
				</div>
			
			<div class="nav-right">
				<a class="nav-right">Kontakt</a>
				<a class="nav-right">Abc</a>
				<a class="nav-right">Menu</a>
				<a class="nav-right">O Nas</a>
			</div>
			</nav>
	</header>
	
	<div class="main-img">
		<h1 id="main-header">Wstąp po najlepszą kawę </h1>
		<br>
		<h1 id="main-header2"> w całej Warszawie !</h1>
	</div>

	<section class="content">
		<h2>O Nas</h2><hr>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium animi, ducimus suscipit deleniti, eius sunt? Blanditiis est mollitia quibusdam, perspiciatis quasi natus nemo enim eum nisi nostrum amet inventore fugiat iusto cumque eveniet, incidunt esse dicta vel facilis, quam consectetur. Laborum cumque praesentium ea possimus saepe cum harum ex.
		</p>
		<h2>Technologie Wykorzystane Przy Budowie Lorem Cafe i Lorem Cafe Blog</h2><hr>
		<ul>
			<li>HTML</li>
			<li>CSS3</li>
			<li>VanillaJs</li>
			<li>Gulp.js</li>
			<li>Express.js</li>
			<li>SASS</li>
			<li>Node.js</li>
			<li>MongoDB</li>
			<li>AJAX</li>			
		</ul>
		<button class="btn-2">Przejdź Do Menu</button>
	</section>
	
	<footer>
		<p class="ft-text">
			<b> Mrooz &copy; 2017 </b> 
		</p> 
		<p class="ft-right">
			<a href="https://github.com/mroozspace"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/adrian-mr%C3%B3z-829bb113b/" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
		</p> 
	 </footer>

</body>
</html>