<!DOCTYPE html>
<html>
<head>
	<title>Witamy w Lorem Cafe | Menu</title>
	<link rel="stylesheet" type="text/css" href="public/stylesheets/css/main.css">

</head>
<body class="menu">
	<header>
		<nav> 
			<p class="logo">Lorem Cafe<i class="fa fa-coffee" aria-hidden="true"></i> | Menu </p>

			<div id="menuToggle">
				<input type="checkbox">
					<span></span>
					<span></span>
					<span></span>
					<ul id="menuBookmarks">
						<li><a id ="glowna" href="main.html" active>Strona Główna</a></li>
						<li><a href="menu.html">Menu</a></li>
						<li><a href="galeria.html">Galeria</a></li>
						<li><a href="">ABC Kawy</a></li>
						<li><a href="opinie.html">Opinie</a></li>
						<li><a href="kontakt.html">Kontakt</a></li>
					</ul>
			</div>
		</nav>		
	</header>
	

	<section class="loremMenu">

		<!-- <div class="gridline-1"> -->
			<div id="coffeeTitle" class="menuTitle"><h1>Kawy</h1></div>
			<div id="espresso" class="menuItem" onclick="moreInfo(this.id)">
				<p>Espresso</p>
			</div>
			<div id="latte" class="menuItem" onclick="moreInfo(this.id)">
				<p>Latte</p>
			</div>
			<div id="icecoffee" class="menuItem" onclick="moreInfo(this.id)">
				<p>Ice</p>
			</div>
		<!-- </div> -->

		<!-- <div class="gridline-2"> -->
			<div id="black" class="menuItem" onclick="moreInfo(this.id)">
				<p>Czarne</p>
			</div>
			<div id="fruit" class="menuItem" onclick="moreInfo(this.id)">
				<p>Owocowe</p>
			</div>
			<div id="green" class="menuItem" onclick="moreInfo(this.id)">
				<p>Zielone</p>
			</div>
			<div id="teaTitle" class="menuTitle">
				<h1>Herbaty</h1>
			</div>
		<!-- </div> -->

		<div id="snacks-grid">
			<div class="vertical-text menuTitle">
				<h1>Przekąski</h1>
			</div>
			<div id="sandwich" class="menuItem" onclick="moreInfo(this.id)">
				<p>Kanapki</p>
			</div>	
			<div id="tost" class="menuItem" onclick="moreInfo(this.id)">
				<p>Tosty</p>
			</div>	
			<div id="cake" class="menuItem" onclick="moreInfo(this.id)">
				<p>Ciasta</p>
			</div>	
			<div id="icecream" class="menuItem" onclick="moreInfo(this.id)">
				<p>Lody</p>
			</div>	
		</div>
	</section>

	<footer> <b>&copy; mrooz 2017 </b> </footer>

<script type="text/javascript" src="public/js/main.js"></script>
</body>
</html>