@mixin flex--center{
	display:flex;
	justify-content: center;
	align-items: center;
}

@mixin uppercase{
	text-transform: uppercase;
}

@mixin container{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

// @mixin container-center{
// 	@extend container;
// 	justify-content: center;
// }