$bg-color:#222;
$ft-bg-color: #000;

$first-color:#FF9D00;
$bg-lowerContainer-ft: #111;
$bg-ft: #222;

$text-color: #555;
$text-color2: #fff;

$logo-color: #fff;
$partbg-color:#222;
$part-color:#ffc;
$header-shadow-color: #fff;

$breakpoints:(
	'small'	: 500px,
	'medium': 768px,
	'xmedium': 1150px,
	'large'	: 1366px,
	'xlarge': 2000px,
);