// // $textFont: "Lato", sans-serif;
// $textSize: 16px;
// $textColor: #222222;

// $bgColor: #999999;
// // $1color: #ff9d00;
// // $2color: #ff9966;
// // $3color: #777;

$bg-color:#ffffdf;
// #ffc
$first-color:#FF9D00;
$darkerbg-color:#ffc;
$third-color:#000;
$text-color: #333;
$logo-color: #fff;
$partbg-color:#222;
$part-color:#ffc;
$header-shadow-color: #fff;

$grid-caption-bg-height:30px;